* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    height: 150vh;
}

.container-home, .container-social {
    height: 100vh;
}



[class*="col-"] {
    float: left;
    padding: 10px;
    /*border: 1px solid red;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 { width: 25%;}
.col-2 { width: 50%;}
.col-3 { width: 75%;}
.col-4 { width: 100%;}

.header {
    text-align: center;
    font-size: 40px;
    height: 10%;
}

#circle {
        -moz-animation:bounce 2s infinite;
        -webkit-animation:bounce 2s infinite;
        animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

.header-container, .hero-container {
    height: 100%;
    text-align: center;
}

.landing-page-collapsed {
    display: hidden;
}

#name {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 7px;
    font-size: 70px;
}

#name-subtext {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 5px;
}

.hero {
    height: 80%;
}

#hero-image {
    max-width:100%;
    min-height:100%;
}

#circle, #circle-end {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0 auto;
  background-color: #F6E5D5;
}

#circle-end {
    position: absolute;
    left: 68%;
    bottom: 5%;
    margin: 0;
}

.nav-indicator-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 10px 0;
}

.nav-indicator {
    height: 10%;
}

.menu-items-container {
    text-align: center;
    width: 100%;
}

#menu {
    background-color: rgba(255,255,255,0.7);
}

#menu-list {
    padding: 5px 0;
    margin: 0;
}

#menu-list li {
    list-style: none;
    display: inline-block;
    padding: 0 5%;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 7px;
    font-size: 35px;
}

.menu-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.nav-about-active, .nav-experience-active, .nav-social-active {
    text-decoration: underline;
}

#rectangle-about, #rectangle-experience, #rectangle-social {
    position: absolute;
    background-color: #F6E5D5;
    height: 100%;
    width: 8px;
    z-index: 0;
    margin: 0;
}

#rectangle-about {
    left: 20%;
}

#rectangle-experience {
    left: 40%;
}

#rectangle-social {
    left: 70%;
    height: 85%;
}

.about-text {
    position: absolute;
    left: 25%;
    padding-top: 20%;
}

.about-content {
    position: relative;
    height: 100%;
}

p, .headings, .headings-social {
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 50px;
}



#menu-list li a:link, a:visited {
    text-decoration: none;
    color: black;
}

.experience-list li, .social-list li a:link, a:visited {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    line-height: 50px;
    list-style: none;
    font-weight: 700;
    letter-spacing: 7px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #F6E5D5;
}

.headings, .headings-social {
    font-weight: 700;
}

.headings-social {
    width: 100%;
    margin-right: 0;
}

.experience-content, .social-content {
    position: relative;
    height: 100%;
}

.experience-text {
    position: absolute;
    left: 45%;
    padding-top: 20%;
}

.experience-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    width: 100%;
    text-align: right;
    line-height: 100px;
}

.social-list a {
    text-align: right;
}

.social-links {
    position: absolute;
    right: 30%;
    padding-top: 15%;
}

.find-me {
    text-align: right;
}

@media screen and (min-width : 650px) {
    #name {
        font-size: 30px;
    }

    #name-subtext {
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 5px;
    }
}

@media screen and (min-width : 1500px) {
    #circle-end {
        left: 69%;
    }
}
